*.pptx
*.ppt
*.pdf
*.db
*/.ipynb_checkpoints
*.docx
*/*.docx
*/.Rhistory
CBU\ MEG\ System.txt
writing
ppm
meg\ protocol
open\ science
participant\ testing
lab\ notebook
scripts/stimulus_presentation/logs
scripts/fix_bem
scripts/figs