*.pptx
*.ppt
*.pdf
*.db
*/.ipynb_checkpoints
*.docx
*/*.docx
*/.Rhistory
*/renv/
*/.Rproj.user
*/.Rhistory
*/.Rdata
*/.Rprofile
scripts/stimulus_presentation/logs
scripts/stimulus_presentation/archive
scripts/stimulus_presentation/figures
scripts/analysis/parcellations
scripts/fix_bem
scripts/figs
scripts/analysis/fsaverage_surf
results
review
admin
backup
**/archive
**/working_remotely.txt